---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { getSortedPosts } from "../../utils/blog.util";
import Card from "../../components/blog/Card";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts?.filter(({ data }) => data.featured);
---

<Layout title="Welcome to Astro.">
  <main>
    {
      featuredPosts?.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts?.map(({ data, slug }) => (
                <Card
                  href={`/blog/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
        </>
      )
    }
  </main>
</Layout>
