---

---

<section>
  <div class="content">
    <img src="/img/rebellion-logo-0.svg" class="content__img" />
    <img src="/img/rebellion-logo-1.svg" class="content__img" />
    <img src="/img/rebellion-logo-2.svg" class="content__img" />
    <img src="/img/rebellion-logo-3.svg" class="content__img" />
    <img src="/img/rebellion-logo-4.svg" class="content__img" />
    <img src="/img/rebellion-logo-6.svg" class="content__img" />
    <img src="/img/rebellion-logo-7.svg" class="content__img" />
    <img src="/img/rebellion-logo-8.svg" class="content__img" />
    <img src="/img/rebellion-logo-9.svg" class="content__img" />
    <img src="/img/rebellion-logo-10.svg" class="content__img" />
    <img src="/img/rebellion-logo-11.svg" class="content__img" />
    <img src="/img/rebellion-logo-12.svg" class="content__img" />
    <img src="/img/rebellion-logo-13.svg" class="content__img" />
    <img src="/img/rebellion-logo-14.svg" class="content__img" />
    <img src="/img/rebellion-logo-15.svg" class="content__img" />
    <img src="/img/rebellion-logo-16.svg" class="content__img" />
  </div>
</section>

<style>
  .content {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .content__img {
    width: 13vw;
    height: 13vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: #f5f2ee;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 3vw;
  }
</style>
