---

---

<section>
  <div class="content">
    <img src="/img/rebellion-logo-0.svg" class="content__img" />
    <img src="/img/rebellion-logo-1.svg" class="content__img" />
    <img src="/img/rebellion-logo-2.svg" class="content__img" />
    <img src="/img/rebellion-logo-3.svg" class="content__img" />
    <img src="/img/rebellion-logo-4.svg" class="content__img" />
    <img src="/img/rebellion-logo-6.svg" class="content__img" />
    <img src="/img/rebellion-logo-7.svg" class="content__img" />
    <img src="/img/rebellion-logo-8.svg" class="content__img" />
    <img src="/img/rebellion-logo-9.svg" class="content__img" />
    <img src="/img/rebellion-logo-10.svg" class="content__img" />
    <img src="/img/rebellion-logo-11.svg" class="content__img" />
    <img src="/img/rebellion-logo-12.svg" class="content__img" />
    <img src="/img/rebellion-logo-13.svg" class="content__img" />
    <img src="/img/rebellion-logo-14.svg" class="content__img" />
    <img src="/img/rebellion-logo-15.svg" class="content__img" />
    <img src="/img/rebellion-logo-16.svg" class="content__img" />
  </div>

  <div class="website-content">
    <div class="hero text-[10vw] md:text-[6vw]">
      <div class="hero_line">
        <h1>Rafael Alexander</h1>
      </div>
      <div class="hero_line">
        <h1><span>UI/UI Designer</span></h1>
      </div>
      <div class="hero_line">
        <h1><span>& Developer</span></h1>
      </div>
    </div>
  </div>
</section>

<style>
  .content {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .content__img {
    width: 13vw;
    height: 13vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: #f5f2ee;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 3vw;
  }

  nav {
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
  }

  .nav-item {
    position: relative;
    flex: 1;
  }

  .nav-item:nth-child(2) {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
  }

  .nav-item:nth-child(3) {
    text-align: right;
  }

  #logo a {
    text-transform: none;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
  }

  .hero {
    width: 100%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    text-transform: uppercase;
  }

  .hero_line {
    font-weight: 700;
    font-family: "Cormorant Garamond";
    width: 100%;
    text-align: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  h1 {
    opacity: 0;
    position: relative;
    font-weight: 400;
    line-height: 85%;
  }

  h1 span {
    font-weight: 100;
  }

  footer {
    width: 100%;
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  .item {
    position: relative;
    width: 100px;
    height: 100px;
  }
</style>
