---

---

<section class="relative">
  <div class="content">
    <img src="/shoots/1.png" class="content__img" />
    <img src="/shoots/2.png" class="content__img" />
    <img src="/shoots/3.png" class="content__img" />
    <img src="/shoots/4.png" class="content__img" />
    <img src="/shoots/5.png" class="content__img" />
    <img src="/shoots/6.png" class="content__img" />
    <img src="/shoots/7.png" class="content__img" />
    <img src="/shoots/8.png" class="content__img" />
    <img src="/shoots/9.png" class="content__img" />
    <img src="/shoots/10.png" class="content__img" />
    <img src="/shoots/11.png" class="content__img" />
    <img src="/shoots/12.png" class="content__img" />
    <img src="/shoots/13.png" class="content__img" />
    <img src="/shoots/14.png" class="content__img" />
    <img src="/shoots/15.png" class="content__img" />
    <img src="/shoots/16.png" class="content__img" />
  </div>

  <div class="p-4 md:h-screen flex md:absolute top-0 left-0 w-full">
    <div class="mt-40 md:absolute bottom-40 right-40 max-w-xl">
      <h2
        id="hero-item"
        class="opacity-0 translate-y-10 text-4xl md:text-6xl font-light"
      >
        Making beautiful brands and digital experiences.
      </h2>
      <button
        id="hero-item"
        class="opacity-0 translate-y-0 relative px-6 py-4 my-8 rounded-full bg-tertiary hover:bg-secondary hover:text-primary transition"
        >About me</button
      >
    </div>
  </div>
</section>

<style>
  .content {
    height: 0vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .content__img {
    width: 13vw;
    height: 13vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    border-radius: 5px;
    z-index: -1;
  }

  @media (min-width: 768px) {
    .content {
      height: 100vh;
    }
  }
</style>
