<section class="trigger-element max-w-6xl mx-auto mb-2">
  <div class="flex flex-col gap-2 px-3">
    <div
      class="image_container w-full rounded-2xl bg-tertiary flex justify-center items-center py-20 px-1"
    >
      <img src="/fiscal_1.png" alt="fiscal" class="max-w-xs" />
    </div>

    <div
      class="image_container w-full py-16 rounded-2xl bg-tertiary bg flex justify-center items-center px-4"
    >
      <img src="/pr_1_2.png" alt="fiscal" class="w-full max-w-md" />
    </div>

    <div class="flex flex-col md:flex-row gap-2">
      <div
        class="image_container w-full py-20 rounded-2xl bg-tertiary flex justify-center items-center px-4"
      >
        <img src="/pr_1_3.png" alt="fiscal" class="w-full max-w-64" />
      </div>
      <div
        class="image_container w-full py-20 rounded-2xl bg-tertiary flex justify-center items-center px-2"
      >
        <img src="/pr_1_4.png" alt="fiscal" class="w-full max-w-64" />
      </div>
    </div>

    <div
      class="image_container w-full py-20 rounded-2xl bg-tertiary flex justify-center items-center px-2"
    >
      <img src="/pr_1_5.png" alt="fiscal" class="w-full max-w-md" />
    </div>
  </div>

  <div class="flex justify-between w-full mt-10 flex-col lg:flex-row px-2">
    <div class="mb-4 lg:mb-0">
      <h3 class="uppercase font-bold">Heru Web App</h3>
      <h3>2023</h3>
    </div>
    <div class="text-lg">
      <p>
        A magical bag for your web3 loot. Surreal is a multi-chain iOS NFT
        wallet.
      </p>
      <div class="flex items-center gap-1 mt-2">
        <p class="mr-2">Together with</p>
        <div class="w-8 h-8 rounded-full bg-slate-700"></div><div
          class="w-8 h-8 rounded-full bg-slate-700"
        >
        </div><div class="w-8 h-8 rounded-full bg-slate-700"></div>
      </div>
    </div>
    <div class="h-40"></div>
  </div>

  <div
    id="project-cta"
    class="sticky left-0 bottom-0 w-full flex justify-center scale-0 opacity-0 text-white gap-2"
  >
    <div
      class="min-w-14 min-h-14 bg-neutral-700/70 backdrop-blur-xl rounded-full flex items-center gap-2 px-6 font-semibold"
    >
      <p class="cta-item">Fintech App</p>
      <span class="cta-item ml-2 opacity-60 font-light">2023</span>
    </div>
    <div
      class="min-w-14 min-h-14 bg-neutral-700/70 backdrop-blur-xl rounded-full flex items-center gap-2 px-2 pl-6 font-semibold"
    >
      <span class="cta-item">ver caso</span>
      <i
        class="cta-item ph-bold ph-arrow-right h-10 w-10 bg-blue-500 rounded-full flex items-center justify-center"
      ></i>
    </div>
  </div>
</section>

<style>
  .cta-item {
    scale: 0;
  }
</style>
