---
import { Image } from "astro:assets";

interface Props {
  name: string;
  imageUrl: string;
  year: number;
}

const { name, imageUrl, year } = Astro.props;
---

<div>
  <div
    class="group relative w-full overflow-hidden aspect-square object-cover bg-tertiary rounded-3xl flex items-center justify-center py-4 cursor-pointer"
  >
    <div
      class="absolute top-2 right-2 flex items-center justify-center h-9 w-9 rounded-full opacity-40 group-hover:opacity-100 group-hover:shadow group-hover:bg-primary transition"
    >
      <div class="h-3 w-3 scale-50 bg-secondary rounded-full group-hover:scale-1 transition"/>
    </div>
    <p
      class="absolute bottom-2 left-4 opacity-40 group-hover:opacity-100 text-lg"
    >
      {name}
    </p>
    <p
      class="absolute bottom-2 right-4 opacity-40 group-hover:opacity-100 text-lg"
    >
      {year}
    </p>
    <img
      src={imageUrl}
      loading="eager"
      alt={name || "image"}
      width={100}
      height={100}
      class:list={"w-full h-full group-hover:scale-105 transition ease-in-expo"}
    />
  </div>
</div>
