---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="app" data-barba="container" data-barba-namespace="home">
    <a href="/">home</a>
    
  </main>
</Layout>
