---
interface Props {
  page: string;
}

const { page } = Astro.props;

const categories = [
  { label: "Inicio", slug: "" },
  { label: "Blog", slug: "blog" },
  { label: "Lab", slug: "lab" },
  { label: "Contacto", slug: "contact" },
];
---

<nav class="fixed bottom-10 w-full z-50">
  <div
    id="navigation-container"
    class="backdrop-blur-lg bg-blur p-1 w-fit rounded-2xl mx-auto flex gap-1 items-center transition"
  >
    {
      categories.map((category) => (
        <a
          class={`py-1.5 px-3 rounded-xl cursor-pointer hover:shadow-md hover:bg-primary hover:scale-[1.05] transition ${page === category.label && "bg-primary shadow-md"}`}
          href={`/${category.slug}`}
        >
          {category.label}
        </a>
      ))
    }
    <button
      class="invert w-5 h-5 bg-primary rounded-sm ml-2 mr-3 hover:scale-[1.1] transition"
      type="button"
      data-theme-toggle
    >
    </button>
  </div>
</nav>
