<nav class="fixed w-full p-0 pt-3 z-[100]" id="navbar">
  <div
    class="backdrop-blur-2xl mx-auto w-full flex justify-between items-center p-1 lg:p-2"
    id="navbar_content"
  >
    <div class="logo ml-3 flex flex-col">
      <span> <b>Rafael Alexander</b></span>
      <span class="-mt-2 opacity-60 font-light">UX/UI & Develop</span>
    </div>
    <button
      class="invert w-5 h-5 bg-primary rounded-md mr-3"
      type="button"
      data-theme-toggle></button>
  </div>
</nav>

<style>
  #navbar,
  #navbar_content {
    transition: 400ms cubic-bezier(0,1.22,.46,1); /* custom */
  }
</style>

<script is:inline>
  // Obtén la referencia a tu barra de navegación
  const navbar = document.getElementById("navbar");
  const navbarContent = document.getElementById("navbar_content");

  // Agrega un evento de scroll al documento
  document.addEventListener("scroll", function () {
    // Obtén la cantidad de píxeles que se han desplazado hacia abajo
    const scrollPixels = window.scrollY;

    // Establece la altura en la que deseas cambiar los estilos (en este caso, 100 píxeles)
    const scrollThreshold = 100;

    // Verifica si se ha superado el umbral de desplazamiento
    if (scrollPixels > scrollThreshold) {
      // Cambia los estilos de la barra de navegación
      navbar.style.padding = "16px";
      navbarContent.style.width = "360px";
      navbarContent.style.borderRadius = "20px";
      navbarContent.style.backgroundColor = "var(--blur)";
      // Puedes agregar más estilos según tus necesidades
    } else {
      // Restaura los estilos originales si no se ha alcanzado el umbral
      navbarContent.style.width = "100%";
      navbarContent.style.backgroundColor = "var(--primary)";
      navbar.style.padding = "0";
      navbarContent.style.borderRadius = "0";
      navbar.style.paddingTop = "12px";
    }
  });
</script>
